<div class="group-tree">
  <div class="tree-header">
   <i class="fas fa-expand-arrows-alt btn-expand-all" title="{{ccLocalize 'group.expandAll'}}" data-action="expandAll"></i>
    <i class="fas fa-compress-arrows-alt btn-collapse-all" title="{{ccLocalize 'group.collapseAll'}}" data-action="collapseAll"></i>
    {{#unless _showTreeTags}}
      <i class="fas fa-sitemap toggle-tree-groups {{toggleClassGroups}}" title="{{ccLocalize 'group.toggleGroups'}}" data-action="toggleTreeGroups"></i>
      <i class="fas fa-globe toggle-tree-regions {{toggleClassRegions}}" title="{{ccLocalize 'group.toggleRegions'}}" data-action="toggleTreeRegions"></i>
      <i class="fas fa-map-marker-alt toggle-tree-locations {{toggleClassLocations}}" title="{{ccLocalize 'group.toggleLocations'}}" data-action="toggleTreeLocations"></i>
      <i class="fas fa-house toggle-tree-shops {{toggleClassShops}}" title="{{ccLocalize 'group.toggleShops'}}" data-action="toggleTreeShops"></i>
      <i class="fas fa-user toggle-tree-npcs {{toggleClassNPC}}" title="{{ccLocalize 'group.toggleNPCs'}}" data-action="toggleTreeNpcs"></i>
      <i class="fas fa-boxes toggle-tree-items {{toggleClass}}" title="{{ccLocalize 'group.toggleItems'}}" data-action="toggleTreeItems"></i>
      <i class="fas fa-user-tag toggle-tree-npctags {{toggleClassNPCTags}}" title="{{ccLocalize 'group.toggleNPCTags'}}" data-action="toggleTreeNpcTags"></i>
    {{else}}
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    {{/unless}}

    <i class="fas fa-tag toggle-tree-tags {{toggleClassTag}}" title="{{ccLocalize 'group.toggleTagMode'}}" data-action="toggleTreeTags"></i>
  </div>
  <div class="tree-content scrollable">
    {{{treeContent}}}
  </div>
</div>