<div class="content-header">
    <h2><i class="fas fa-user-tag"></i> {{ccLocalize "names.npcs" }}</h2>
</div>
<div class="npc-filters">
  {{#each filters as |filter|}}
   <i class="{{filter.iconClass}} filter-btn refresh-btn {{filter.class}} {{#if filter.active}}active{{/if}}" data-action="filterButton" data-filter="{{filter.dataFilter}}" title="{{filter.title}}"></i>
  {{/each}}
</div>

<div class="npc-grid-container">
  {{{npcGridHtml}}}
</div>