<div class="group-location-card" data-action="openLocation" data-uuid="{{location.uuid}}">
  <div class="location-image {{#if (not showImage)}}hide-loc-image{{/if}}">
    <img class="card-image-clickable" data-uuid="{{location.uuid}}" src="{{getAsset "image" location.type location.img}}" alt="{{location.name}}">
  </div>
  <i class="{{#if iconOverride}}{{iconOverride}}{{else}}{{location.displayIcon}}{{/if}} location-tag"></i>
  <div class="location-info">
    <h4 class="location-name">{{location.name}}</h4>

    {{#if location.region}}
      <div class="entity-locations">
        <i class="{{getAsset "icon" "region"}}"></i>
        <span class="location-tag">{{location.region}}</span>
      </div>
    {{/if}}

    {{#if location.shops.length}}
      <div class="entity-locations shop-tags">
        <i class="{{getAsset "icon" "shop"}}"></i>
        {{#each location.shops}}
          <span class="location-tag shop-tag">{{this}}</span>
        {{/each}}
      </div>
    {{/if}}

    {{#if location.tags.length}}
      <div class="entity-locations tag-mode-tags">
        <i class="fas fa-tag"></i>
        {{#each location.tags}}
          <span class="location-tag tag-mode">{{this}}</span>
        {{/each}}
      </div>
    {{/if}}

    {{#if location.npcs.length}}
      <div class="entity-locations tag-mode-tags">
        <i class="{{getAsset "icon" "npc"}}"></i>
        {{#each location.npcs}}
          <span class="location-tag">{{this}}</span>
        {{/each}}
      </div>
    {{/if}}
  </div>
</div>