<div class="quest-item" data-quest-id="{{quest.id}}" >
  <div class="quest-title-wrap">
    <h4 class="quest-title quest-input-title" data-quest-id="{{quest.id}}" {{#if (and isGM (not isGroupSheet))}}data-editable="true"{{/if}} {{#if isGroupSheet}}style="cursor:default"{{/if}}>
      {{quest.title}}
    </h4>
  </div>
  {{!-- The description section --}}
  <article class="journal-entry-page cc-enriched {{systemClass}}">
    <section class="journal-page-content {{journalClass}}">
      {{#if (and isGM (not isGroupSheet))}}
        <prose-mirror class="quest-description-editor {{journalClass}} {{themed}}" data-quest-id="{{quest.id}}" value="{{quest.description}}" document-uuid="{{doc.uuid}}" compact="true" toggled>
          {{{quest.enrichedDescription}}}
        </prose-mirror>
      {{else}}
        {{{quest.enrichedDescription}}}
      {{/if}}
    </section>
  </article>


  {{!-- The completion toggle icon --}}
  <div class="quest-controls">
    <i class="fas {{#if quest.completed}}fa-circle-check{{else}}fa-circle-xmark{{/if}} quest-toggle-icon {{#if quest.completed}}quest-completed-icon{{else}}quest-uncompleted-icon{{/if}}" data-action="questToggle" data-uuid="{{doc.uuid}}" data-quest-id="{{quest.id}}" data-field="completed" title="{{#if quest.completed}}Mark as Incomplete{{else}}Mark as Complete{{/if}}"></i>

  {{!-- GM Controls --}}

    {{#if isGM}}
        <i class="fas {{#if quest.pinned}}fa-thumbtack{{else}}fa-thumbtack-slash{{/if}} quest-toggle-icon pinned-toggle" data-quest-id="{{quest.id}}" data-field="pinned" data-action="questToggle" data-uuid="{{doc.uuid}}"title="{{#if quest.pinned}}Remove from Quest Board{{else}}Pin to Quest Board{{/if}}" ></i>
        <i class="fas {{#if quest.visible}}fa-eye{{else}}fa-eye-slash{{/if}} quest-toggle-icon visible-toggle" data-quest-id="{{quest.id}}" data-field="visible" data-action="questToggle" data-uuid="{{doc.uuid}}" title="{{#if quest.visible}}Hide from Players{{else}}Show to Players{{/if}}"></i>
      {{#if (not isGroupSheet)}}
        <i class="fas fa-trash remove-quest quest-toggle-icon" data-quest-id="{{quest.id}}" title="Remove Quest"></i>
      {{/if}}
    {{/if}}
  </div>

{{! Quest Items Section }}
{{#if inventory.length}}
  <div class="objectives-section quest-inventory">
    <div class="objectives-header">
      <h5>Rewards</h5>
    </div>
    <div class="shop-items">
      {{#each inventory as |item|}}
        <div class="group-item-card open-item" data-uuid="{{item.uuid}}" data-action="openItem">
          <img src="{{getAsset "image" "item" item.img}}" alt="{{item.name}}" class="item-icon">
          <div class="item-info">
            <span class="item-name">{{item.name}}</span>
            <span class="item-price">{{item.quantity}}x {{item.finalPrice}}{{item.currency}}</span>
          </div>
          <div class="item-actions">
            {{#if (and ../isGM (not ../isGroupSheet))}}
                        <i class="fas fa-trash action-btn remove-quest-item" data-type="quest" data-action="removeQuestItem" data-quest-id="{{../quest.id}}" data-uuid="{{item.itemUuid}}" title="Remove Item"></i>
            {{/if}}
            {{#if ../isGM}}

                <i class="fas fa-paper-plane action-btn send-to-player" data-type="quest" data-action="sendToPlayer" {{#if ../isGroupSheet}}data-doc-uuid={{../doc.uuid}}{{/if}} data-quest-id="{{../quest.id}}" data-uuid="{{item.itemUuid}}" title="Send to Player"></i>
            
            {{/if}}
          </div>
        </div>
      {{/each}}
    </div>
  </div>
{{/if}}


  {{!-- Objectives Section --}}
  <div class="objectives-section">
    <div class="objectives-header">
      <h5>Objectives</h5>
      {{#if (and isGM (not isGroupSheet))}}
        <a class="add-objective" data-quest-id="{{quest.id}}" title="Add Objective"><i class="fas fa-circle-plus"></i></a>
      {{/if}}
    </div>

    <ul class="objective-list">
      {{> "modules/campaign-codex/templates/partials/quest-objective.hbs" objectives=quest.objectives uuid=doc.uuid quest=quest isGM=isGM isGroupSheet=isGroupSheet}}
    </ul>
  </div>

</div>
