
<div class="entity-card quest-card open-quest {{#unless showImage}}hide-entity-image{{/unless}} {{quest.hidden}}" data-action="openQuest" data-type="quest" data-uuid="{{quest.docUuid}}" style="cursor: pointer; position:relative;" >
        <div class="entity-image {{#unless showImage}}hide-entity-image{{/unless}}">
          <img src="{{quest.img}}" alt="{{quest.name}}">
        </div>
        <div class="entity-content">
          <h4 class="entity-name">{{quest.name}}</h4>
          <div class="entity-meta">
            <span class="entity-type {{quest.statusClass}}">{{quest.statusLabel}}</span>
          </div>
        </div>        
      </div>
