<div class="content-header">
    <h2><i class="fas fa-boxes"></i> {{#if labelOverride}}{{labelOverride}}{{else}}{{ccLocalize "names.inventory" }}{{/if}}</h2>
</div>
  {{#if inventory.length}}
    <div class="inventory-list">
      {{#each inventory as |item|}}
        <div class="selected-inventory-item btn-open-sheet" data-uuid="{{item.uuid}}" data-action="openItem">
          <img src="{{getAsset "image" "item" item.img}}" alt="{{item.name}}" class="item-icon">
          <div class="item-info">
            <span class="item-name">{{item.name}}</span>
            <span class="item-price ">{{item.quantity}}x {{item.finalPrice}}{{item.currency}}</span>
          </div>
          <div class="item-actions">
            {{#if ../isGM}}
              <i class="fas fa-paper-plane btn-send-to-player refresh-btn" data-sheet-uuid="{{../selectedSheetUuid}}" data-doc-uuid="{{../selectedSheetUuid}}" data-action="sendToPlayer" data-uuid="{{item.itemUuid}}" title="Send to Player">
                </i>
            {{/if}}
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}
