<div class="content-header">
    <h2><i class="fas fa-user"></i> {{#if labelOverride}}{{labelOverride}}{{else}}{{ccLocalize "names.associates" }}{{/if}}</h2>
</div>
  {{{dropToMapBtn}}}

  {{#if hasContent}}
    <div class="associates-list">
      {{{npcGridHtml}}}
    </div>
  {{else}}
    <p><em>No associates linked.</em></p>
  {{/if}}
