<form>
    {{!-- Header Row --}}
    <div class="form-group" style="display: grid; grid-template-columns: minmax(120px, 1fr) minmax(120px, 1fr) 60px; gap: 8px; align-items: center; margin-bottom: 10px; padding-bottom: 5px; border-bottom: 1px solid #CCC;">
        <strong>{{ccLocalize "tabs.original-name"}}</strong>
        <strong>{{ccLocalize "tabs.override-name"}}</strong>
        <strong style="text-align: center;">{{ccLocalize "tabs.visible"}}</strong>
    </div>

    {{!-- Tab Rows --}}
    {{#each tabs as |tab|}}

    <div class="form-group campaign-codex{{#if (not tab.defaultVisibility)}} cc-disabled-row{{/if}}" style="display: grid; grid-template-columns: minmax(120px, 1fr) minmax(120px, 1fr) 60px; gap: 8px; align-items: center; margin-bottom: 5px;{{#if tab.hideLabel}}border-top: dotted 1px var(--cc-accent){{/if}}">
        
        <label title="{{tab.originalLabel}}" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
            {{tab.originalLabel}}
        </label>
        
        {{#if tab.hideLabel}}<span></span>{{else}}<input type="text" name="{{tab.key}}.label" value="{{tab.overrideLabel}}" placeholder="{{tab.originalLabel}}">{{/if}}
        
        <input type="checkbox" name="{{tab.key}}.visible" {{checked tab.visible}} style="justify-self: center;">

    </div>
    {{/each}}
</form>
