<div class="tree-node {{#if node.isSelected}}selected{{/if}}" data-type="{{node.type}}" data-sheet-uuid="{{node.uuid}}">
  <div class="tree-node-header {{#if node.hasChildren}}expandable{{/if}}">
    
    {{#if node.hasChildren}}
      <i class="fas {{#if node.isExpanded}}fa-chevron-down{{else}}fa-chevron-right{{/if}} expand-icon expand-toggle" data-action="expantToggle"></i>
    {{else}}
      <i class="tree-spacer"></i>
    {{/if}}

    <i class="{{node.displayIcon}} node-icon" alt="{{node.name}}">&nbsp;</i>
    <span class="tree-label" >
      {{node.name}}
    </span>
  </div>

  {{#if node.hasChildren}}
    <div class="tree-children" style="display: {{#if node.isExpanded}}block{{else}}none{{/if}};">
      {{#each node.children}}
        {{> "modules/campaign-codex/templates/partials/tag-nodes.hbs" node=this isGM=../isGM}}
      {{/each}}
    </div>
  {{/if}}
</div>