<section class="campaign-codex-toc-app scrollable tab{{#if tab.active}} active{{/if}}" {{#if tab.active}} active{{/if}} data-group="{{tab.group}}" data-tab="{{tab.id}}">


  {{#if tab.create}}<i class="fas fa-circle-plus cc-create" data-action="createSheet" data-group="{{tab.group}}" data-type="{{tab.type}}"  title="Create {{tab.title}} sheet"></i>{{/if}}

    {{#if hasContent}}
        <ul class="cc-toc-journal-list">
            {{#each items}}
            {{#if this.canView}}
                <li class="document entry journalentry directory-item" draggable="true" data-drag="true" data-entry-id="{{this.id}}" data-name="{{this.name}}">
                    
                        <i class="{{getAsset 'icon' ../tab.type}}"></i> <a data-action="openDocument" data-uuid="{{this.uuid}}" >{{this.name}}</a>

                 {{#if (and this.quests this.questsvisible)}}<i class ="fas fa-scroll"></i>{{else}}<span></span>{{/if}}                 
                 {{#if ../isGM}}<i class ="fa {{this.ownershipIcon}}" data-action="changeDefaultOwnership" data-uuid="{{this.uuid}}" data-ownership="{{this.ownershipLevel}}"></i>{{/if}} 
                </li>
                {{/if}}
            {{/each}}
        </ul>
    {{else}}
        <p class="notes">No Campaign Codex documents were found in this world.</p>
    {{/if}}

</section>

