<section class="campaign-codex-toc-app tab{{#if tab.active}} active{{/if}} scrollable" data-group="{{tab.group}}" data-tab="{{tab.id}}">

    {{#if tab.create}}
        <i class="fas fa-circle-plus cc-create" data-action="createSheet" data-group="{{tab.group}}" data-type="{{tab.type}}" title="Create {{tab.title}} sheet"></i>
    {{/if}}

    <div class="codex-tag-view">
        
        <div class="tag-cloud-container">
            
            <div class="tag-cloud">
                <button type="button" data-action="clearTagFilters" class="clear-filters">
                    {{ccLocalize "toc.clear"}}
                </button>                
                {{#each cloudTags}}
                    {{#if this.canView}}
                    <div class="tag-pill {{this.state}}" 
                         data-action="toggleTagFilter" 
                         data-tag-id="{{this.id}}"
                         title="{{this.name}}">
                        <i class="{{#if this.icon}}{{this.icon}}{{else}}fas fa-tag{{/if}}"></i>
                        <span class="tag-name">{{this.name}}</span>
                        <span class="tag-count">{{this.count}}</span>
                        <i class="fas fa-external-link-alt" data-action="openDocument" data-uuid="{{this.uuid}}" title="Open Sheet"></i>
                    {{#if ../isGM}}
                        <i class="fa {{this.ownershipIcon}}" data-action="changeDefaultOwnership" data-uuid="{{this.uuid}}" data-ownership="{{this.ownershipLevel}}"></i>
                    {{/if}} 
                    </div>
                    {{/if}}
                {{/each}}

            </div>
        </div>

        <div class="tag-results-container">
        
            {{#if hasActiveFilters}}
                {{#if resultCount}}
                    <ul class="cc-toc-journal-list tag-results-grid">
                        {{#each filteredResults}}
                            {{#if this.canView}}
                                <li class="document entry journalentry directory-item cc-child-item" data-uuid="{{this.uuid}}" draggable="true" data-drag="true" data-entry-id="{{this.id}}" data-name="{{this.name}}">
                                    <i class="{{#if childIconOverride}}{{childIconOverride}}{{else}}{{this.displayIcon}}{{/if}}"></i>
                                    <a data-action="openDocument" data-uuid="{{this.uuid}}">{{this.name}}</a>
                            {{#if (and this.quests this.questsvisible)}}
                                <i class="fas fa-scroll"></i>
                            {{else}}
                                <span></span>
                            {{/if}}
                            
                            {{#if ../isGM}}
                                <i class="fa {{this.ownershipIcon}}" data-action="changeDefaultOwnership" data-uuid="{{this.uuid}}" data-ownership="{{this.ownershipLevel}}"></i>
                            {{/if}} 


                                </li>
                            {{/if}}




                        {{/each}}
                    </ul>
                {{else}}
                    <p class="no-results">{{localize "No entries match the selected criteria."}}</p>
                {{/if}}
            {{else}}
                <p class="instruction">{{ccLocalize "toc.filter"}}</p>
            {{/if}}
        </div>

    </div>

</section>

